<!DOCTYPE html>
<html>
<head>
  <title>Fambreak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="myApp" ng-controller="CreatorController as ctr" data-spy="scroll" data-target="#myScrollspy" data-offset="15" >

<!-- home icon -->
<div class="col-xs-3" id="myScrollspy">
  <div class="container circle" data-spy="affix" data-offset-top="205">
    <a href=<%= root_path %>><%= image_tag "acorn.svg" %></a>
  </div>
</div>


  <%= yield %>

<footer class="bg-3">
  <p class="container-m text-center logo-font">copyright 2017 Fambreak</p>
</footer>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>


</html>
