<!DOCTYPE html>
<html>
<head>
  <title>Fambreak</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body data-spy="scroll" data-target="#myScrollspy" data-offset="15" >


<!-- side nav -->
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href=<%= root_path %>>Home</a>
  <a href=<%= myfams_path %>  data-turbolinks="false">My Fams</a>
  <a href="#">Login</a>
  <a href="#">Contact</a>
  <span>©Fambreak 2017</span>
</div>

<!-- home icon -->
<div class="col-xs-3" id="myScrollspy">
  <div onclick="openNav()" class="container circle home" data-spy="affix">
    <i class="glyphicon glyphicon-menu-hamburger"></i>
  </div>
</div>


  <%= yield %>



<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
</script>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>


</html>
